.game-card {
  overflow: hidden;
  height: 20rem;
  width: 20rem;
  transition: all 1s;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title {
  font-size: large;
  margin-top: 1%;
}

.release {
  font-size: large;
  margin: 4%;
}

.game-card img {
  width: 100%;
  height: 12rem;
  border-radius: 15px;
}

.game-container {
  width: 100%;
  column-gap: 10px;
}

.game-container-2 {
  display: flex;
  width: 20rem;
  overflow: hidden;
  margin: auto;
  border: 1px solid grey;
  border-radius: 15px;
  flex-direction: row;
  margin-top: 2%;
}

.button-card {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  column-gap: 10%;
}

.button-card button {
  /* background-color: aqua; */
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  cursor: pointer;
}

.pages-container {
  display: flex;
  justify-content: center;
  column-gap: 4%;
  margin-top: 1%;
  /* background-color: aquamarine; */
}

.pages {
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 800ms;
  border: 2px solid black;
  /* width: 5px;
  height: 5px; */
}

.pages--selected {
  background-color: rgba(124, 124, 124, 0.856);
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 800ms;
  border: 2px solid black;
}

@media (max-width: 1050px) {
  .game-card {
    width: 25rem;
    height: 25rem;
  }

  .game-container-2 {
    width: 25rem;
  }
  .game-card img {
    height: 15rem;
  }
}

@media (max-width: 780px) {
  .game-card {
    width: 15rem;
    height: 15rem;
    background-color: aquamarine;
  }

  .title {
    font-size: medium;
  }

  .release {
    font-size: smaller;
  }

  .game-container-2 {
    width: 15rem;
  }
  .game-card img {
    height: 8rem;
  }

  .pages{
    padding: 1%;
  }

  .pages--selected{
    padding: 1%;
  }
}
